@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

header .logo {
    text-align: center;
    margin-bottom: 65px;
}

header {
    text-align: center;
    background: linear-gradient(#89CCCA, transparent);
    padding: 30px 0;
}

.social{
    padding-left:40px;
}
.sidebar {
    position: fixed;
    width: 400px;
    /* bottom: 50%; */
    background-image: url(../img/bg-button.png);
    background-size: 400px auto;
    background-position: left center;
    height: 100vh;
    margin-right: -267px;
    right: 0;
    top: 0;
}

.sidebar:hover {
    cursor: pointer;
}

.sidebar.active {
    right: 0;
    margin-right:0;
}

footer a {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: super;
    padding-left: 10px;
    text-decoration: none;
}

.close {

    position: absolute;
    right: 20px;
    top: 20px;
}

a {
    color: #FFF;
    text-decoration: none;
}

.blue p {
    color: #017587 !important;
}

#video-container{
    max-width: 960px;
    width:70%;
    margin: auto;
}

#video-container .special{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

#video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.red{
    color:#D10A11;
}
.box {
    font-size: 29px;
    color: #FFFFFF;
    letter-spacing: -1.32px;
    text-align: right;
    padding-right: 30px;
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.box span {
    padding: 7px 0;
    vertical-align: sub;
    list-style: none;
    display: list-item;
    font-size: 25px;
    font-weight: 300;
}

.box span:hover {
    opacity:0.8;
}

.box span img{
    float: left;
    margin-left: 175px;
    width: 36px;
    height: 37px;
}

.cergy {
    position: absolute;
    left: 20px;
    top: 20px;
}

.play:hover {
    cursor: pointer;
    opacity: 0.7;
}

.video {
    display: none;
    position: absolute;
    background: rgba(41, 41, 41, 0.6);
    top: 0;
    z-index: 9;
    height: 100vh;
    left: 0;
    width: 100%;
}

.video iframe {

    padding-top: 100px;
    text-align: center;
    margin: auto;
    display: block;
}

header.next .logo {
    display: none;
}

header.next .hide {
    display: block;
}

.hide {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 5px 20px;
    background: #D10A11;

    z-index: 99;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

.hide p {
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    text-align: center;
    font-weight: 300;
}

.button p {
    font-size: 20px;
    color: #D10A11;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.button {
    padding-top: 40px;
    margin: auto;
    text-align: center;
}

body {
    padding: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
}

.mobile{
    display: none;
}
@media all and (min-device-width: 1024px) {
    .play-mobile {
        display: none;
    }
}

@media all and (max-device-width: 1024px) {
    body{
        background-image: url("../img/bg-mobile-1.png");
    }
    .mobile{
        display: inherit;
    }
    .cergy {
        display: none;
    }

    header .logo {
        /* display: none; */
        width: 70%;
    }

    .voeux {

        width: 80%;
        margin-top: 20Px;
    }

    .play-desktop {
        display: none;
    }

    .button p{
        font-weight:800;
        font-size: 15px;
        color: #D10B11;
        letter-spacing: 0;
        text-align: center;
    }
    .box {
        color: #D10B11;
        padding-top: 80px;
    }
    .box span img{
        float: right;
        width: 27px;
        height: 27px;
        margin-left: 10px;
    }
    .box p{
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: #D10A11;
        letter-spacing: -1px;
        text-align: right;
    }

    .box span, .box a{
        font-size: 20px;
        color:#D10A11;
    }
    .desktop{
        display: none;
    }
    .hide p {
        font-size: 25px;
        max-width: 90%;
        margin: auto;
    }

    .sidebar {
        width: 370px;
        position: fixed;
        right:0;
        margin-right: -298px;
        background-image: url('../img/bg-mobile.png');
    }
}
